# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.idea
*.DS_STORE

Enunciado.pdf
bonus
sprites
usuarios.json
amigos.json